#main {
	width: 55%;
	margin:4vh auto;
}

#onlinelist {
	border-bottom:0.2vh solid #CCC;
	padding-bottom:7.5vh;
}

#listcontent {
	margin-top:5vh;
	margin-left:40%;
	font-family:Arial, Helvetica, sans-serif;
}

#listcontent ul {
	max-height: 200px;
	overflow:auto;
}

#listcontent ul li {
	line-height:5.5vh;
}

#listcontent ul h2 {
	float:left;
	width:20%;
	min-width:200px;
	font-weight:100;
}

#listcontent ul a {
	margin-left:10vh;
	color:#999;
	font-weight:100;
}

#listcontent ul a:hover {
	color:#EB0028;
}

.scroll::-webkit-scrollbar {
    background-color: #fff;
	width:0.32vh;
}


.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 2vh;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1); 
}

/*-------------------- dealer locations map*/

#storelocation {
	margin-top: 8vh;
}

.storelocator-panel {
  border: 1px solid #ccc;
  overflow: auto;
}

.storelocator-panel .store-list {
  margin: 0;
  padding: 0;
}

.storelocator-panel .store-list li,
.storelocator-panel .directions-panel {
  padding: 5px;
}
.storelocator-panel .directions-panel {
  font-size: 0.8em;
}

.storelocator-panel .store-list li.store:hover {
  cursor: pointer;
  background: #eee;
}

.storelocator-panel .store-list li.highlighted,
.storelocator-panel .store-list li.highlighted:hover {
  background: #ccf;
}

.storelocator-panel .directions {
  display: none;
}

.storelocator-panel .location-search {
  padding: 5px;
}

.storelocator-panel .location-search input {
  width: 95%;
}

.storelocator-panel .location-search h4 {
  font-size: 0.8em;
  margin: 0;
  padding: 0;
}

.storelocator-panel .store-list .no-stores {
  color: grey;
}

.storelocator-panel .store .features {
  display: none;
}

.storelocator-panel .feature-filter {
  overflow: hidden;
}

.storelocator-panel .feature-filter label {
  display: block;
  font-size: 0.8em;
  margin: 0 0.4em;
  float: left;
}

.store .title {
  font-weight: bold;
}

.store .address,
.store .phone,
.store .web,
.store .misc {
  font-size: 80%;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  display: block;
}

.store .features {
  overflow: hidden;
  color: grey;
  margin: 0;
  padding: 0;
  font-size: 70%;
  max-width: 250px;
}

.store .features li {
  display: inline;
  float: left;
  padding-right: 0.8em;
}

.store .web a {
  color: green
}

.store .action {
  font-size: 0.8em;
  color: green;
  margin-right: 0.5em;
}

@media all 
and (orientation: landscape) {

}

/* Landscape */
@media all
and (orientation: portrait)  {
	
}