.toggle-footer-btn1 {
	opacity: 1;
	position: fixed;
	z-index: 9999;
	background-color: #CE0000;
	display: block;
	float: left;
	font: normal normal 20px/40px Arial, Sans-Serif;
	color: white;
	text-decoration: none;
	width: 30px;
	height: 30px;
	text-align: center;
	bottom: 11px;
	right: 14px;
	border-radius: 30px;
	line-height: 27px;
	transition: all 0.8s ease 0s;
	-webkit-transition: all 0.8s ease 0s;
	-moz-transition: all 0.8s ease 0s;
	-ms-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
}
.toggle-footer-btn1:hover {
	opacity: 0.7;
	transition: all 0.8s ease 0s;
	-webkit-transition: all 0.8s ease 0s;
	-moz-transition: all 0.8s ease 0s;
	-ms-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
}
.toggle-footer-btn {
	text-decoration: none;
}
 @media only screen and ( min-width: 870px ) {
.footer {
	position: fixed;
	z-index: 9999;
	background-color: #fff;
	color: white;
	width: 100%;
	height: 120px;
	display: block;
	clear: both;
	bottom: -120px;
	left: 0;
	font: Helvetica, Arial, sans-serif;
	font-size: 12px;
	text-decoration: none;
}
.links {
	color: #33383b;
	font-weight: bold;
	font-size: 12px;
	padding-left: 40px;
	background: none;
	padding-top: 20px;
}
.links a {
	color: #33383b;
	margin: 0 10px 0 10px;
}
.footercopyright {
	color: #8f9296;
	font-size: 12px;
	margin: 0;
	font-weight: 400;
	padding-left: 50px;
	padding-top: 0;
}
.pd_footer_right {
	float: right;
	margin-top: 20px;
	max-width: 180px;
	margin-right: 50px;
}
.pd_footer_right a {
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color: #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-left: 3px;
}
}
 @media (max-width: 869px) {
.footer {
	position: fixed;
	z-index: 9999;
	background-color: #fff;
	color: white;
	width: 100%;
	height: 200px;
	display: block;
	clear: both;
	bottom: -200px;
	left: 0;
	font: Helvetica, Arial, sans-serif;
	font-size: 12px;
	text-decoration: none;
}
.links {
	color: #33383b;
	font-weight: bold;
	font-size: 8px;
	background: none;
	text-align: center;
	padding-top: 10px;
}
.links a {
	color: #33383b;
	margin: 0 6px 0 6px;
}
.footercopyright {
	color: #8f9296;
	font-size: 8px;
	margin: 0;
	font-weight: 400;
	text-align: center;
}
.pd_footer_right {
	margin: 0 auto;
	max-width: 180px;
	text-align: center;
	padding-top: 10px;
}
.pd_footer_right a {
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color: #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-left: 3px;
}
}
