body {
	font-family: Verdana, Geneva, sans-serif;
	color: #252525;
}
#xt-p7-pic-1 .mobile_open {
	display: none;
}
#xt-p6-pic-1 .pc_photo_left {
	display: inline-block;
	width: 65%;
	float: left;
}
.txt, .pic, .mask {
	position: absolute;
	color: #404040;
	font-weight: 500;
}
#xt-p6-pic-1 ul li span {
	width: 20px;
	height: 20px;
	line-height: 20px;
	background: #000;
	border-radius: 20px;
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
	color: #FFF;
	text-align: center;
    float: left;
}
h1, h2, h3 {
	font-weight: 500;
}
img.bg {
	min-height: 100%;
	min-width: 100%;
	width: auto;
	height: auto;
	position: fixed;
	left: 0;
	bottom: 0;
}
#xt-p1 img.fullbg {
	min-height: 100%;
	min-width: 1024px;
	width: 100%;
	height: auto;
	right: 0;
	bottom: 0;
}
#xt-p4 img.fullbg, #xt-p5 img.fullbg {
	min-height: 100%;
	min-width: 1024px;
	width: 100%;
	height: auto;
	left: 0;
	bottom: 0;
}
 @media all and (max-width: 600px) {
#xt-p1 img.fullbg {
	right: -50%;
	bottom: 0;
}
#xt-p4 img.fullbg, #xt-p5 img.fullbg {
	left: -20%;
	bottom: 0;
}
}
@media (max-width: 533px) {
#xt-p1-1 .txt p {
	line-height: 3.5vh;
	width: 80%;
	margin: 5% auto 0 auto;
	color: #B3B3B3;
}
#xt-p1 img.mobile_position_1 {
	left: -340px;
	position: relative;
	bottom: -60px;
	transform: scale(1.3, 1.3);
    -webkit-transform:scale(1.3, 1.3);
    -moz-transform:scale(1.3, 1.3);
    -ms-transform:scale(1.3, 1.3);
    -o-transform:scale(1.3, 1.3);
}
#xt-p4 img.mobile_position_4 {
	left: -216px;
	bottom: -117px;
	transform: scale(0.7, 0.7);
        -webkit-transform:scale(0.7, 0.7);
    -moz-transform:scale(0.7, 0.7);
    -ms-transform:scale(0.7, 0.7);
    -o-transform:scale(0.7, 0.7);
	position: relative;
}
#xt-p5 img.mobile_position_7 {
	left: -113px;
	top: -94px;
	position: relative;
}
}
#xt-p2-pic {
	margin-left: -10%;
}
.active #xt-p2-pic {
	margin-left: 0;
	-webkit-transition: margin-left 1s ease 0.8s;
	-moz-transition: margin-left 1s ease 0.8s;
	-ms-transition: margin-left 1s ease 0.8s;
	-o-transition: margin-left 1s ease 0.8s;
	transition: margin-left 1s ease 0.8s;
}
#xt-p3-mask {
	opacity: 0;
}
.active #xt-p3-mask {
	opacity: 1;
	-webkit-transition: opacity 2s ease 0.8s;
	-moz-transition: opacity 2s ease 0.8s;
	-ms-transition: opacity 2s ease 0.8s;
	-o-transition: opacity 2s ease 0.8s;
	transition: opacity 2s ease 0.8s;
}
 @media all and (orientation: landscape) {
h1 {
	font-size: 8vh;
	line-height: 8vh;
}
h2 {
	font-size: 5.5vh;
	line-height: 8vh;
}
h3 {
	font-size: 4vh;
}
p {
	font-size: 2.5vh;
	line-height: 4vh;
}
#xt-p1-txt {
	z-index: 1;
	width: 55%;
	top: 18vh;
	left: 10%;
}
#xt-p1-txt h2 {
	font-size: 5vh;
	line-height: 6vh;
}
#xt-p1-txt p {
	font-size: 2.5vh;
	margin-top: 2vh;
}
#xt-p2-pic {
	width: 55%;
	left: 0;
	bottom: 10vh;
}
#xt-p2-pic img {
	width: 100%;
}
#xt-p2-txt {
	text-align: right;
	width: 35%;
	top: 30vh;
	left: 55%;
}
#xt-p3-txt {
	width: 90%;
	top: 10vh;
	left: 10%;
}
#xt-p3-pic {
	z-index: 0;
	width: 60%;
	right: 5%;
	bottom: 40px;
}
#xt-p3-pic img {
	width: auto;
	height: 95vh;
}
#xt-p3-mask {
	z-index: 1;
	width: 60%;
	right: 5%;
	bottom: 40px;
}
#xt-p3-mask img {
	width: auto;
	height: 95vh;
}
#xt-p4-txt {
	width: 80%;
	top: 5vh;
	left: 5%;
}
#xt-p6-txt {
	text-align: center;
	width: 100%;
	top: 5vh;
}
#xt-p6-pic-1 {
	position: relative;
	display: block;
	width: 60%;
	margin: 0 auto;
}
#xt-p6-pic-1 ul {
	height: 100%;
	overflow: auto;
	width: 30%;
	display: inline-block;
	margin-left: 5%;
}
#xt-p6-pic-1 ul li {
	margin-bottom: 20px;
}
#xt-p6-pic-2 {
	position: relative;
	display: block;
	float: left;
	width: 35%;
	top: 5vh;
	left: 15%;
}
#xt-p6-pic-3 {
	position: relative;
	display: block;
	float: left;
	width: 35%;
	top: 5vh;
	left: 15%;
}
#xt-p6-pic-1 img, #xt-p6-pic-2 img, #xt-p6-pic-3 img {
	width: 100%;
}
#xt-p7-txt {
	text-align: left;
	width: 90%;
	top: 5vh;
	left: 10%;
}
#xt-p7-pic-1 {
	float: left;
	left: 10%;
	bottom: 2vh;
}
#xt-p7-pic-1 img {
	width: auto;
	height: 80vh;
}
#xt-p7-pic-2 {
	float: right;
	right: 10%;
	bottom: 2vh;
}
#xt-p7-pic-2 img {
	width: auto;
	height: 90vh;
}
}
 @media all and (orientation: portrait) {
h1 {
	
    font-size: 7vh;
	line-height: 6vh;
}
h2 {
	font-size: 4.5vh;
	line-height: 7vh;
}
h3 {
	font-size: 3vh;
}
p {
	font-size: 2vh;
	line-height: 2.5vh;
}
#xt-p1-txt {
	text-align: center;
	z-index: 1;
	width: 100%;
	top: 7vh;
	
}
#xt-p1-txt h2 {
	font-size: 4.5vh;
	line-height: 5vh;
}
#xt-p1-txt p {
	font-size: 2vh;
	line-height: 2.5vh;
	margin-top: 1vh;
}
#xt-p2-pic {
	width: 100%;
	left: -25%;
	bottom: 20vh;
}
#xt-p2-pic img {
	width: 100%;
}
#xt-p2-txt {
	text-align: center;
	width: 100%;
	top: 10vh;
}
#xt-p3-txt {
	text-align: center;
	width: 100%;
	top: 5vh;
}
#xt-p3-pic {
	text-align: center;
	z-index: 0;
	width: 140%;
	left: -20%;
	bottom: 0;
}
#xt-p3-pic img {
	width: auto;
	height: 65vh;
}
#xt-p3-mask {
	text-align: center;
	z-index: 1;
	width: 140%;
	left: -20%;
	bottom: 0;
}
#xt-p3-mask img {
	width: auto;
	height: 65vh;
}
#xt-p4-txt {
	text-align: center;
	width: 100%;
	top: 5vh;
}
#xt-p6-txt {
	text-align: center;
	width: 100%;
	top: 1vh;
}
#xt-p6-pic-1 {
	position: relative;
	display: block;
	width: 70%;
	margin: 0 auto;
}
#xt-p6-pic-1 .pc_photo_left {
	margin: 0 auto;
	width: 100%;
	float: none;
}
.mobile_product_info {
	width: 200px;
	height: 287px;
	overflow-y: auto;
    display: none;
}
#xt-p7-pic-1 .mobile_open {
	display: block;
	bottom: -95px;
	position: relative;
}
#xt-p7-pic-1 .pc_open {
	display: none;
}
#xt-p6-pic-1 img {
	width: 100%;
}
#xt-p6-pic-2, #xt-p6-pic-3 {
	position: relative;
	display: block;
	float: left;
	width: 45%;
	top: 5vh;
}
#xt-p6-pic-2 {
	left: 5%;
}
#xt-p6-pic-2 img, #xt-p6-pic-3 img {
	width: 100%;
}
#xt-p7-txt {
	text-align: center;
	width: 100%;
	top: 5vh;
}
/*    #xt-p7-pic-1 {
        display: none;
    }*/
    
#xt-p7-pic-2 {
	text-align: center;
	width: 100%;
	height: auto;
	top: 15vh;
}
#xt-p7 img {
	top: 130px;
    width: 100%;
}
