/* html5reset.css */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
	font-family: Verdana, Geneva, sans-serif;
	line-height:4.2vh;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
	text-decoration: none;
}

.defaultlink {
	color:#000;
}

.defaultlink:hover {
	color: #EB0028;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000; 
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration:  line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;   
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

ul, li {
	list-style: none;
}

.apexred {
	color: #EB0028;
}

.titelh1 {
	font-size:4vh;
	font-weight:400;
	line-height:6vh;
	font-family: 'Geneva', sans-serif;
}

.clear {
	clear:both;
}

.basicform {
	margin:4vh auto;
}

.basic_content {
	margin-top:4vh;
}

@media all 
and (orientation: landscape) {
.basicform {
	width:50%;
}

.bottom_nav_portrait{
	display:none;
}

.bottom_nav {
	margin-top:2.5vh;
	display:block;
}

.bottom_nav li{
	float:left;
	margin-right:1vh;
}

.this_bottom_nav {
	font-weight:600;
	border-bottom:#EB0028 3px solid;
	color:#EB0028;
}

.numberbutton a {
	color:#000;
}

.numberbutton a:hover {
	color:#EB0028;
}

}

/* Landscape */
@media all
and (orientation: portrait)  {
.basicform {
	width:80%;	
}

.titelh1 {
	text-align:center;
}

.bottom_nav li{
	display:none;
}

.bottom_nav_portrait {
	display:block;
	padding-bottom:6vh;
	font-weight:600;
	margin-top:3vh
}

.bottom_nav_portrait li {
	float:left;
}

.bottom_nav_portrait li a {
	color:#000;
}

.bottom_nav_portrait li a:hover {
	color:#EB0028;
}

#navnext {
	position:absolute;
	right:10%;
}
}