body {
    font-family: Verdana, Geneva, sans-serif;
    color: #231f20;
}

.txt, .pic, .mask {
    position: absolute;
}

img.bg {
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    position: fixed;
    left: 0;
    bottom: 0;
}

#w220-p5 img.fullbg {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    left: 0;
    bottom: 0;
}

@media all and (max-width: 600px) {
    #w220-p5 img.fullbg {
        margin-left: -55%;
    }
}

.active #w220-p2-pic-2 {
    margin-right: 10%;
    
    -webkit-transition: margin-right 1s ease 0.8s;
    -moz-transition: margin-right 1s ease 0.8s;
    -ms-transition: margin-right 1s ease 0.8s;
    -o-transition: margin-right 1s ease 0.8s;
    transition: margin-right 1s ease 0.8s;
}

.active #w220-p3-pic-2{
    opacity: 1;
    
    -webkit-transition: opacity 0.5s ease 0.8s;
    -moz-transition: opacity 0.5s ease 0.8s;
    -ms-transition: opacity 0.5s ease 0.8s;
    -o-transition: opacity 0.5s ease 0.8s;
    transition: opacity 0.5s ease 0.8s;
}

.active #w220-p3-pic-3{
    opacity: 1;
    
    -webkit-transition: opacity 0.5s ease 1s;
    -moz-transition: opacity 0.5s ease 1s;
    -ms-transition: opacity 0.5s ease 1s;
    -o-transition: opacity 0.5s ease 1s;
    transition: opacity 0.5s ease 1s;
}

.active #w220-p3-pic-4{
    opacity: 1;
    
    -webkit-transition: opacity 0.5s ease 1.2s;
    -moz-transition: opacity 0.5s ease 1.2s;
    -ms-transition: opacity 0.5s ease 1.2s;
    -o-transition: opacity 0.5s ease 1.2s;
    transition: opacity 0.5s ease 1.2s;
}

.active #w220-p3-pic-5{
    opacity: 1;
    
    -webkit-transition: opacity 0.5s ease 1.4s;
    -moz-transition: opacity 0.5s ease 1.4s;
    -ms-transition: opacity 0.5s ease 1.4s;
    -o-transition: opacity 0.5s ease 1.4s;
    transition: opacity 0.5s ease 1.4s;
}

.active #w220-p3-pic-6{
    opacity: 1;
    
    -webkit-transition: opacity 0.5s ease 1.6s;
    -moz-transition: opacity 0.5s ease 1.6s;
    -ms-transition: opacity 0.5s ease 1.6s;
    -o-transition: opacity 0.5s ease 1.6s;
    transition: opacity 0.5s ease 1.6s;
}

@media all and (orientation: landscape) {
    h1 {
        font-size: 8vh;
        line-height:8vh; 
    }
    
    h2 {
        font-size: 5.5vh;
        line-height: 8vh;
    }
    
    h3 {
        font-size: 4vh;
    }
    
    p {
        font-size: 2.5vh;
        line-height: 4vh;
    }
    
    #w220-p1-pic {
        text-align: right;
        width: 40%;
        top: 5vh;
    }
    
    #w220-p1-pic img {
        width: auto;
        height: 100vh;
    }
    
    #w220-p1-txt {
        text-align: left;
        line-height: 10vh;
        width: 50%;
        top: 50vh;
        left: 50%;
    }
    
    #w220-p2-txt {
        text-align: right;
        z-index: 2;
        width: 90%;
        top: 10vh;
        right: 5%;
    }
    
    #w220-p2 .pic img {
        width: auto;
        height: 100vh;
    }
    
    #w220-p2-pic-1 {
        z-index: 0;
        right: 0;
        bottom: 0;
    }
    
    #w220-p2-pic-2 {
        z-index: 1;
        right: -10%;
        bottom: 0;
    }
    
    #w220-p3-pic-1 {
        text-align: center;
        width: 100%;
        top: 0;
    }
    
    #w220-p3-pic-1 img {
        width: auto;
        height: 50vh;
    }
    
    #w220-p3-pic-2, #w220-p3-pic-3, #w220-p3-pic-4, #w220-p3-pic-5, #w220-p3-pic-6 {
        text-align: center;
        width: 100%;
        bottom: 0;
        opacity: 0;
    }
    
    #w220-p3-pic-2 img, #w220-p3-pic-3 img, #w220-p3-pic-4 img, #w220-p3-pic-5 img, #w220-p3-pic-6 img {
        width: auto;
        height: 50vh;
        max-width: 100%;
    }
    
    #w220-p3-txt {
        z-index: 2;
        width: 60%;
        top: 60vh;
        left: 40%;
    }

    #w220-p4-pic-1 {
        z-index: 0;
        right: 0;
        bottom: 0;
    }

    #w220-p4-pic-1 img {
        width: auto;
        height: 100vh;
    }

    #w220-p4-pic-2 {
        z-index: 1;
        right: -10%;
        bottom: 0;
    }

    #w220-p4-pic-2 img {
        width: auto;
        height: 100vh;
    }

    #w220-p4-txt {
        text-align: right;
        z-index: 2;
        width: 80%;
        top: 10vh;
        right: 5%;
    }

    .active #w220-p4-pic-2{
        margin-right: 10%;
    
        -webkit-transition: margin-right 1s ease 0.8s;
        -moz-transition: margin-right 1s ease 0.8s;
        -ms-transition: margin-right 1s ease 0.8s;
        -o-transition: margin-right 1s ease 0.8s;
        transition: margin-right 1s ease 0.8s;
    }
    
    #w220-p6-txt {
        text-align: center;
        width: 100%;
        top: 5vh;
    }
    
    #w220-p6-pic-1 {
        position: relative;
        display: block;
        float: left;
        width: 40%;
        top: 5vh;
        left: 10%;
    }
    
    #w220-p6-pic-1 img {
        width: auto;
        height: 65vh;
    }
    
    #w220-p6-pic-2 {
        position: relative;
        display: block;
        float: left;
        width: 35%;
        top: 5vh;
        left: 20%;
    }
    
    #w220-p6-pic-2 img {
        width: auto;
        height: 35vh;
    }

    #w220-p6-pic-3 {
        position: relative;
        display: block;
        float: left;
        width: 35%;
        top: 5vh;
        left: 20%;
    }
    
    #w220-p6-pic-3 img {
        width: auto;
        height: 30vh;
    }
    
    #w220-p7-txt-1 {
        text-align: center;
        width: 100%;
        top: 5vh;
    }
    
    #w220-p7-txt-2 {
        text-align: left;
        width: 70%;
        top: 20vh;
        left: 15%;
    }
    
    #w220-p7-pic {
        width: 70%;
        top: 30vh;
        left: 15%;
    }
    
    #w220-p7-pic img {
        width: auto;
        height: 40vh;
        max-width: 100%;
    }
    
    #w220-p7-txt-3 {
        text-align: left;
        width: 70%;
        top: 75vh;
        left: 15%;
    }
}

@media all and (orientation: portrait) {
    h1 {
        font-size: 5vh;
        line-height: 5vh;
    }
    
    h2 {
        font-size: 4.5vh;
        line-height: 7vh;
    }
    
    h3{
        font-size: 3vh;
    }
    
    p {
        font-size: 2vh;
        line-height: 2.5vh;
    }
    
    #w220-p1-pic {
        text-align: center;
        width: 100%;
        bottom: 0;
    }
    
    #w220-p1-pic img {
        width: auto;
        height: 80vh;
    }
    
    #w220-p1-txt {
        text-align: center;
        line-height: 10vh;
        width: 100%;
        top: 5vh;
    }
    
    #w220-p2-txt {
        text-align: center;
        z-index: 2;
        width: 100%;
        top: 5vh;
    }
    
    #w220-p2 .pic {
        width: 100%;
        bottom: 0;
    }
    
    #w220-p2 .pic img {
        width: auto;
        height: 80vh;
    }
    
    #w220-p2-pic-1 {
        z-index: 0;
        right: 0;
    }
    
    #w220-p2-pic-2 {
        z-index: 1;
        right: -10%;
    }
    
    #w220-p3-pic-1 {
        text-align: center;
        z-index: 1;
        width: 140%;
        top: 0;
        left: -20%;
    }
    
    #w220-p3-pic-1 img {
        width: 100%;
    }
    
    #w220-p3-pic-3, #w220-p3-pic-4, #w220-p3-pic-5 {
        z-index: 1;
        width: 140%;
        bottom: 5vh;
        left: -20%;
        opacity: 0;
    }
    
    #w220-p3-pic-3 img, #w220-p3-pic-4 img, #w220-p3-pic-5 img {
        width: 100%;
    }
    
    #w220-p3-pic-2, #w220-p3-pic-6 {
        display: none;
    }
    
    #w220-p3-txt {
        text-align: center;
        z-index: 2;
        width: 100%;
        top: 45vh;
    }

    #w220-p4-pic-1 {
        z-index: 0;
        width: 100%;
        left: -40%;
        bottom: 0;
    }

    #w220-p4-pic-1 img {
        width: auto;
        height: 70vh;
    }

    #w220-p4-pic-2 {
        z-index: 1;
        width: 100%;
        left: -30%;
        bottom: 0;
    }

    #w220-p4-pic-2 img {
        width: auto;
        height: 70vh;
    }

    #w220-p4-txt {
        text-align: center;
        z-index: 2;
        width: 100%;
        top: 5vh;
    }

    .active #w220-p4-pic-2{
        margin-left: -10%;
    
        -webkit-transition: margin-left 1s ease 0.8s;
        -moz-transition: margin-left 1s ease 0.8s;
        -ms-transition: margin-left 1s ease 0.8s;
        -o-transition: margin-left 1s ease 0.8s;
        transition: margin-left 1s ease 0.8s;
    }
    
    #w220-p6-txt {
        text-align: center;
        width: 100%;
        top: 5vh;
    }
    
    #w220-p6-pic-1 {
        position: relative;
        display: block;
        text-align: center;
        width: 100%;
        top: 5vh;
    }
    
    #w220-p6-pic-1 img {
        width: auto;
        height: 35vh;
    }
    
    #w220-p6-pic-2 {
        position: relative;
        display: block;
        text-align: center;
        width: 100%;
        top: 5vh;
    }
    
    #w220-p6-pic-2 img {
        width: auto;
        height: 20vh;
    }

    #w220-p6-pic-3 {
        position: relative;
        display: block;
        text-align: center;
        width: 100%;
        top: 5vh;
    }
    
    #w220-p6-pic-3 img {
        width: auto;
        height: 20vh;
    }
    
    #w220-p7-txt-1 {
        text-align: center;
        width: 100%;
        top: 5vh;
    }
    
    #w220-p7-txt-2 {
        text-align: center;
        width: 100%;
        top: 20vh;
    }
    
    #w220-p7-pic {
        width: 90%;
        top: 30vh;
        left: 5%
    }
    
    #w220-p7-pic img {
        width: 100%;
    }
    
    #w220-p7-txt-3 {
        text-align: center;
        width: 80%;
        top: 60vh;
        left: 10%;
    }
}